.container {
    margin: auto;
    color: #000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.account-layout__nav .nav {
    display: flex;
    flex-direction: column;
}

.account-layout__body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.account-layout__nav {
    max-width: 20%;
    width: 100%;
}

.account-layout__content {
    max-width: 40%;
    width: 100%;
}

.account-layout__nav .nav a {
    padding: 10px 15px;
}

.account-layout__nav .nav a.active {
    color: blue;
}
